@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-slate-900;
  }

  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-blue-900 hover:border-blue-900 hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-blue-900 dark:hover:bg-blue-900;
  }
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm dark:bg-slate-900 dark:md:bg-slate-900/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}
.dark [astro-icon].icon-bold g {
  stroke: white;
}
[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.dark p > code {
  background-color: #555;
  color: goldenrod !important;
}
p > code {
  background-color: #0d1117;
  color: #FFA657 !important;
  padding: 1px 4px;
  border-radius: 4px;
  font-family: monospace;
}
p > code::before, p > code::after {
  content: '' !important;
}

article.banner {
  border-radius: 0.25rem;
  border-left: 4px solid hsl(240 3.7% 44%);
  padding: 1.5rem;
  padding-left: 2.5rem;
  background-color: hsl(203.4 70.4% 28%);
  border-left-color: hsl(198.7 97.9% 57.2%);;
  color: hsl(198.8 100% 82.5%);
  position: relative;
}
article.banner::before {
  content: 'i';
  font-style: italic;
  background-color: hsl(198.7 97.9% 57.2%);
  position: absolute;
  top: calc(50% - 0.8rem);
  left: calc(-0.8rem - 2px);
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: hsl(240, 5.9%, 11%);
  clip-path: circle(50% at 50% 50%);
}